body{
    color: #000000;
    text-align: center;
    font-family: "Verdana", sans-serif;
    background-color:#F1F1F1;
}
nav{
    font-size: 3em;
    color: white;
    text-align: right;
    background-color: #d4d4f7;
    font-weight:bold;
    margin-top: -30px;
    font-family:"Comic Sans MS", fantasy;
}
.myname{
    color:black;
    font-weight: bold;
}
h1{
    font-size: 1em;
    color: #FF69B4;
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    background-color: #000000;
}
tr{
    border: 1px solid #000000;
    text-align: center;
    background-color: #ffe5f7;
}
th{
    text-align: center;
    color: #000000;
    background-color: #d4d4f7;
}
h3{
    text-align: left;
    color: gray;
    background-color:#ffe6f2;
    width: 15%;
}
a:link{color:black;}
a:visited{color:black;}
a:hover{color:gray;}
a:active{color:white;}
.href{text-align: left}
ul{
    text-align: left;
}
ol{
    text-align:left;
}
h2{
    background-color:#E6E6FA;
}
.quote{
    font-style: italic;
    font-size: 120%;
    background-color:#E6E6FA;
    margin-left: 400px;
    margin-right:400px;
    text-align: center;
}
.link{ float: left;
    padding: 2px;
}
h4{ 
    font-size:170%;
    background-color:#E6E6FA;
}
#mypic {
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;
}
.copyright{
    text-align:right;
}
.credit{
    text-align: center;
    font-size: 60%;
}
.container{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
#Reflect{
    text-align: left
}

.Port{ 
    background-color:#E6E6FA;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}