body{
    font-family:"Comic Sans MS", fantasy;
    color: #000000;
    text-align: center;
}
nav{
    font-size: 3em;
    color: white;
    text-align: center;
    background-color: #d4d4f7;
    display:;
    padding: .2;
    font-weight:bold;
    margin-top: -30px;
}
.myname{
    color:black;
    font-weight: bold;
}
h1{
    font-size: 1em;
    color: #FF69B4;
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    background-color: #000000;
}
tr{
    border: 1px solid #000000;
    text-align: center;
    background-color: #00FFFF;
}
th{
    text-align: center;
    color: #FFFFFF;
    background-color: #F08080;
}
h3{
    text-align: left;
    color: gray;
    background-color:#ffe6f2;
}
a:link{
    color:black;
}
a:visited{
    color:black;
}
a:hover{
    color:gray;
}
a:active{
    color:white;
}
.href{text-align: left}
ul{
    text-align: left;
}
ol{
    text-align:left;
}
h2{
    background-color:#E6E6FA;
}
.quote{
    font-style: italic;
    font-size: 120%;
}
.link{ float: left;
    padding: 2px;
}
